body{
  background-color: #E1DBF0;
}

nav{
  background-color:#6D5B76;
}

ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  border-bottom: 5px solid burlywood;
}

li{
  list-style: none;
  padding: 10px;
}

.navLink{
  color: #F8F8E5;
  padding: 10px;
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  font-family:'Segoe UI';
  text-transform: uppercase;
}

.navLink:hover{
  background-color:burlywood;
  color: darkslategray;
  border-radius: 1px;
}

.navLinkActive {
  color:darkslategray;
  background-color:burlywood;
  padding: 10px;
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  font-family:'Segoe UI';
  text-transform: uppercase;
  border-radius: 1px;
  border-bottom: 5px solid slateblue;
}